#wp-admin-bar-wal-inline-frontend-edit-link .ab-icon:before { 
	content: "\f119" !important; 
	top: 2px; 
	margin-right: 3px;
}
#wp-admin-bar-wal-inline-frontend-edit-link div:hover{
	cursor: pointer
}




.wal-field{
    transition: outline-color 0.5s;
    outline: 1px dashed hsla(194.3, 100%, 41.2%, 0);
}


/* //////////
//text and icon selection
/////////// */

.wal-selectable{
	outline-color: hsla(194.3, 100%, 41.2%, 1);
}


.wal-selectable:hover, .wal-selectable:focus, .wal-selectable.wal-selected{
    outline-style: solid;
}

.wal-selectable.wal-external{
	outline-color: hsla(39, 94%, 50%, 0.8);
	outline-width: 2px;
}

.wal-selectable.wal-lock{
    outline-color: hsla(0, 100%, 50%, 1);
}

.wal-selectable.wal-lock.wal-external{
    outline-color: hsla(0, 100%, 50%, 1);
}


/* //////////
//media selection
/////////// */

.wal-selectable.wal-media{
    display: inline-block;
    overflow: visible;
	position: relative;
    width: 100%;
    outline: none;
}

.wal-selectable.wal-media:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 1em;
	outline:1px dashed hsla(194.3, 100%, 41.2%, 1);
	outline-offset: 10px;
	display: block;
	content: '';
	box-sizing: content-box;
	background-color: transparent;
	opacity: 1;
	z-index: 20;
	transition: outline-color 0.5s, background-color 0.5s, opacity 0.5s;
}
.wal-selectable.wal-media.wal-lock:before{
    outline-color: hsla(0, 100%, 50%, 1);

}

.wal-selectable.wal-selected.wal-media:before{
    outline-style: solid;
	background-color: #00a0d2;
	opacity: 0.25;
}
.wal-selectable.wal-selected.wal-media.wal-lock:before{
    background-color: hsla(0, 100%, 50%, 1);
}

i.wal-selectable:hover{
	cursor: pointer;
}

.wal-selectable.wal-media:hover:before{
	outline-style: solid;
	cursor: pointer;
}

.wal-media-edit-button{
    font-family: "PT Sans", system-ui, sans-serif;
	letter-spacing: 3px;
	font-size: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: black;
	z-index: 40;
	opacity: 0;
	display:none; 
	transition: opacity 0.25s;
	padding: 10px 20px;
	/*display: none;*/
	padding: 20px;
}

.wal-selectable.wal-selected .wal-media-edit-button{
	opacity: 1;
	display: block;
}

.wal-selectable.wal-selected .wal-media-edit-button:hover{
	cursor: pointer;
	background-color: #3f3f3f;
}

/* Overrides */
.fl-tabs-label.fl-tab-active.wal-selectable:focus{
    outline: 1px dashed hsla(194.3, 100%, 41.2%, 1);
}
.fl-tabs-label.fl-tab-active.wal-selectable.wal-selected:focus{
    outline: 1px solid hsla(194.3, 100%, 41.2%, 1);
}

.fl-lightbox-wrap.fl-icon-selector{
	width: 80%;
	margin-left: 10%;
	z-index: 50;
	display: block;
}

.fl-lightbox-mask{
	height: 85%;
}

.fl-icon-selector .fl-lightbox{
	height: 88%;
}

.fl-icon-selector-cancel{
	font-size: 14px !important;
	background: #e7ebef;
	padding: 0 12px;
	align-items: center;
	display: flex;
}

